#maincol {
/*	background-color:yellow;
	font-size: 25px;*/
}

#rightcol {
	/*background-color:lightgray;*/
	float: right;
	margin-top: 50px;
	margin-left: 20px;
}

.question {
	border: solid 1px lightgray;
	margin-top: 10px;
	margin-left: 0px;
	float: left;
	width: 100%;
}

.question h5 {
	margin-top: 0px;
}

/*.question :last-child {
	margin-bottom: 15px;
}*/

.question__left {
	float: left;
	width: 20%;
	padding: 10px;
	box-sizing: border-box;
}

.question__right {
	float: left;
	width: 80%;
	padding: 10px;
	padding-left: 0px;
	box-sizing: border-box;
}

#pager {
	float: left;
	margin-top: 20px;
}

.navbar-button {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.navbar-a {
	float: left;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-img {
	float: right;
	height: 50px;
	margin-top: 5px;
}

.navbar-div {
	float: right;
}
