{% extends "base.html" %}

{% block main %}
	<div>
		<div align=center class="question__left">
			<img src="http://lorempixel.com/100/100">
												<div class="btn-toolbar">
			  <div class="btn-group">			 
			    <a class="btn" href="#">-</a>
			    <a class="btn" href="#" disabled>5</a>
			    <a class="btn" href="#">+</a>
			  </div>
				</div>
		</div>
		<div class="question__right">
			<h3>How to tra la la</h3>
			<p style="margin-top: 9px;">Lorem pixel dolor sit amet and lalalalallalalalalalalalalalalalalalalalalalalalalalalalalalalala</p>
			<div>Tags: <a href="/tag/trala">trala</a>, <a href="/tag/la">la</a></div>
		</div>
	</div>
	<form action="">
		{% for i in "qsd" %}
			<div class="question row">
				<div align=center class="question__left">
					<img src="http://lorempixel.com/90/90">
									<div class="btn-toolbar">
			  <div class="btn-group">			 
			    <a class="btn" href="#">-</a>
			    <a class="btn" href="#" disabled>5</a>
			    <a class="btn" href="#">+</a>
			  </div>
				</div>
				</div>
				<div class="question__right">
					<p style="margin-top: 9px;">Lorem pixel dolor sit amet</p>
					<input type="checkbox" name="correct">&nbsp;Correct!
				</div>
			</div>
		{% endfor %}
	<div class="pagination" id="pager">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
		<div style="float: left; margin-top: 0px;"><textarea style="width: 613px; height: 100px;"></textarea></div>
		<input class="btn btn-primary" style="float: left;" type="submit" value="Answer">
	</form>
{% endblock main %}